@import './fonts.scss';

.container {
    display: flex;
    gap: 1rem 1rem;
    padding: 1rem
}

.container-item {
    display: flex;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-x: clip;
    overflow-y: clip;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.even {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.left {
    justify-content: left;
}

.right {
    justify-content: right;
}

.align-center {
    align-items: center;
}

.align-left {
    align-items: left;
}

.align-right {
    align-items: right;
}

.very-small {
    max-width: 12rem;
}

.small {
    max-width: 16rem;
}

.medium {
    max-width: 20rem;
}

.base {
    max-width: 28rem;
}

.large {
    max-width: 42rem;
}

.very-large {
    max-width: 84rem;
}

