// ======================
// FONT
.text-xs
    font-size: 0.75rem

.text-sm
    font-size: 0.875rem

.text-base
    font-size: 1rem

.text-lg
    font-size: 1.125rem

.text-xl
    font-size: 1.25rem

.text-2xl
    font-size: 1.5rem

.text-3xl
    font-size: 1.875rem

.text-4xl
    font-size: 2.25rem

.text-5xl
    font-size: 3em

.text-6xl
    font-size: 3.75rem

.font-thin
    font-weight: 100

.font-extralight
    font-weight: 200

.font-light
    font-weight: 300

.font-normal
    font-weight: 400

.font-medium
    font-weight: 500

.font-semibold
    font-weight: 600

.font-bold
    font-weight: 700

.font-extrabold
    font-weight: 800

.font-black
    font-weight: 900

// ======================
// SPACING
.p-2
    padding: .5rem

.p-4
    padding: 1rem

.p-6
    padding: 1.5rem

.p-8
    padding: 2rem

.p-10
    padding: 2.5rem

.p-12
    padding: 3rem

.p-14
    padding: 3.5rem

.p-16
    padding: 4rem

// ======================
// UTILITY
.flex
    display: flex

    &.flex-row
        flex-direction: row

    &.flex-column
        flex-direction: column

    &.justify-start
        justify-content: flex-start

    &.justify-end
        justify-content: flex-end

    &.justify-center
        justify-content: center

    &.justify-between
        justify-content: space-between

    &.justify-around
        justify-content: space-around

    &.justify-even
        justify-content: space-evenly

    &.items-center
        align-items: center

    &.items-start
        align-items: flex-start

    &.items-end
        align-items: flex-end

    &.items-baseline
        align-items: baseline

    &.items-stretch
        align-items: stretch

    &.content-center
        align-content: center

    &.content-start
        align-content: flex-start

    &.content-end
        align-content: flex-end

    &.content-stretch
        align-content: stretch

    &.content-around
        align-content: space-around

    &.content-between
        align-content: space-between

    &.gap-2
        gap: 0.5rem

    &.gap-4
        gap: 1rem

    &.gap-6
        gap: 1.5rem

    &.gap-8
        gap: 2rem

    &.gap-10
        gap: 2.5rem

    &.gap-12
        gap: 3rem

    &.gap-14
        gap: 3.5rem

    &.gap-16
        gap: 4rem

    &.very-small
        min-width: 10vw

    &.small
        min-width: 14vw

    &.medium
        min-width: 22vw

    &.base
        min-width: 30vw

    &.large
        min-width: 40vw

    &.very-large
        min-width: 60vw
