@import './base.css';
@import './container.scss';

#app {
    margin: 0 auto;
    font-weight: normal;
}

.container-left {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}

.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.table-center {
    display: table;
    text-align: center;
}

.table-cell-vertical-align {
    display: table-cell;
    vertical-align: middle;
}

.container-align {
    display: flex;
    align-items: center;
}

.margin-b1 {
    margin-bottom: 1rem;
}

.margin-b2 {
    margin-bottom: 2rem;
}

.margin-t1 {
    margin-top: 1rem;
}

.margin-t2 {
    margin-top: 2rem;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

h1 {
    font-size: clamp(2rem, 1.799rem + 0.85vw, 2.75rem) !important;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

/* @media (max-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
} */
