@import 'quasar/src/css/index.sass';
@import './base.css';

.q-router-link--exact-active {
    opacity: 0.6;
}

.auth-form {
    max-width: 256px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
