@import 'quasar/src/css/index.sass';
@import './base.css';

h1 {
    font-size: var(--font-size-3xl);
    font-weight: bold;
}

h2 {
    font-size: var(--font-size-2xl);
    font-weight: bold;
}

h3 {
    font-size: var(--font-size-xl);
    font-weight: bold;
}

.q-router-link--exact-active {
    opacity: 0.6;
}

.auth-form {
    max-width: 256px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
