@import './base.css';

#app {
    max-width: 100%;
    margin: 0 auto;
    font-weight: normal;
}

.container-left {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}

.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

/* @media (max-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
} */
